# Build Folders
[Bb]in/
[Oo]bj/


.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

packages/
*.nupkg


*.pri
pub/
_pkginfo.txt
*.appx
*.appxbundle
*.msix
*.msixbundle

[Tt]humbs.db
*.tmp

.DS_Store

app.config
App.config